h1 {
text-align: center;
margin-bottom: 25px;
}

form {
display:flex;
gap: 5px;
justify-content: center;
}

.textDiv {
border: black 1px solid;
min-height: 20rem;
width: 50%;
margin: 20px auto;
max-width: 30rem;
padding: 1rem;
}

textarea {
width: 424px; 
height: 247px;"
}
